workflows/daily-youtube-shorts.json
{
  "name": "일일 YouTube 쇼츠 자동 생성 및 업로드",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "매일 오전 9시 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// 스토리 히스토리 로드\nconst fs = require('fs');\nconst path = require('path');\n\nconst historyFile = path.join(__dirname, '../data/story-history.json');\nlet history = [];\n\ntry {\n  const data = fs.readFileSync(historyFile, 'utf-8');\n  history = JSON.parse(data);\n} catch (error) {\n  // 파일이 없으면 빈 배열\n  history = [];\n}\n\nreturn {\n  json: {\n    history: history,\n    episodeNumber: history.length + 1\n  }\n};"
      },
      "id": "load-history",
      "name": "스토리 히스토리 로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "options": {
          "temperature": 0.8,
          "maxTokens": 2000
        },
        "prompt": "=당신은 귀여운 라쿤 캐릭터 \"넝심이\"의 요리 쇼츠 영상을 위한 스토리를 작성하는 작가입니다.\n\n캐릭터 정보:\n- 주인공: 넝심이 - 살짝 너구리 같은 귀여운 라쿤 캐릭터, 요리를 좋아함\n- 조연: 조연캐릭터 - 넝심이의 친구, 항상 함께 등장하는 조연 캐릭터\n\n요구사항:\n1. 요리 영상이 메인 콘텐츠입니다\n2. 간단하고 귀여운 스토리가 요리 과정과 자연스럽게 연결됩니다\n3. 캐릭터들은 일관성 있게 유지됩니다\n4. 쇼츠 영상(60초 이내)에 적합한 분량입니다\n5. 시청자들이 즐겁게 볼 수 있는 가벼운 톤입니다\n\n{{ $json.history.length > 0 ? '\\n\\n이전 에피소드 요약:\\n' + $json.history.slice(-5).map(h => `에피소드 ${h.episode}: ${h.title} - ${h.summary}`).join('\\n') : '' }}\n\n에피소드 {{ $json.episodeNumber }}를 위한 스토리를 생성해주세요. 다음 JSON 형식으로 응답해주세요:\n\n{\n  \"title\": \"영상 제목\",\n  \"dish\": \"만들 요리 이름\",\n  \"summary\": \"스토리 요약 (1-2문장)\",\n  \"story\": \"상세 스토리 설명\",\n  \"cooking_steps\": [\"요리 단계 1\", \"요리 단계 2\", \"요리 단계 3\"],\n  \"video_prompts\": [\n    \"영상 프롬프트 1 (Veo3용)\",\n    \"영상 프롬프트 2 (Veo3용)\",\n    \"영상 프롬프트 3 (Veo3용)\"\n  ],\n  \"tags\": [\"태그1\", \"태그2\", \"태그3\"],\n  \"description\": \"YouTube 설명란용 텍스트\"\n}\n\n스토리는 요리 과정과 자연스럽게 연결되어야 하며, 넝심이와 조연캐릭터의 캐릭터가 일관되게 유지되어야 합니다."
      },
      "id": "generate-story",
      "name": "Gemini로 스토리 생성",
      "type": "@n8n/n8n-nodes-langchain.lmChatGemini",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "googleGeminiApi": {
          "id": "1",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gemini 응답 파싱\nconst response = $input.item.json.response || $input.item.json.content || $input.item.json.message || '';\n\nlet storyData;\ntry {\n  // JSON 부분만 추출\n  const jsonMatch = response.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    storyData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('JSON을 찾을 수 없습니다');\n  }\n} catch (error) {\n  // 기본 구조로 반환\n  storyData = {\n    title: `넝심이의 요리 - 에피소드 ${$('스토리 히스토리 로드').item.json.episodeNumber}`,\n    dish: '특별한 요리',\n    summary: response.substring(0, 100),\n    story: response,\n    cooking_steps: ['준비', '요리', '완성'],\n    video_prompts: [\n      '넝심이가 요리를 준비하는 모습',\n      '넝심이가 요리하는 모습',\n      '넝심이가 완성된 요리를 보여주는 모습'\n    ],\n    tags: ['요리', '라쿤', '쇼츠'],\n    description: response\n  };\n}\n\nreturn {\n  json: {\n    ...storyData,\n    episode: $('스토리 히스토리 로드').item.json.episodeNumber,\n    date: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-story",
      "name": "스토리 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://veo3.googleapis.com/v1/projects/{{ $env.VEO3_PROJECT_ID }}/videos:generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VEO3_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.video_prompts[0] }}, cute, animated, raccoon cooking, high quality, cute raccoon character, cooking video, shorts format, 9:16 aspect ratio"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "aspectRatio",
              "value": "9:16"
            },
            {
              "name": "model",
              "value": "veo-3"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-video-1",
      "name": "영상 세그먼트 1 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://veo3.googleapis.com/v1/projects/{{ $env.VEO3_PROJECT_ID }}/videos:generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VEO3_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.video_prompts[1] }}, cute, animated, raccoon cooking, high quality, cute raccoon character, cooking video, shorts format, 9:16 aspect ratio"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "aspectRatio",
              "value": "9:16"
            },
            {
              "name": "model",
              "value": "veo-3"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-video-2",
      "name": "영상 세그먼트 2 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://veo3.googleapis.com/v1/projects/{{ $env.VEO3_PROJECT_ID }}/videos:generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.VEO3_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.video_prompts[2] }}, cute, animated, raccoon cooking, high quality, cute raccoon character, cooking video, shorts format, 9:16 aspect ratio"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "aspectRatio",
              "value": "9:16"
            },
            {
              "name": "model",
              "value": "veo-3"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-video-3",
      "name": "영상 세그먼트 3 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// 영상 세그먼트들을 합치기\n// 실제로는 외부 스크립트나 API를 호출해야 할 수 있습니다\nconst segments = [\n  $('영상 세그먼트 1 생성').item.json,\n  $('영상 세그먼트 2 생성').item.json,\n  $('영상 세그먼트 3 생성').item.json\n];\n\n// 여기서는 세그먼트 정보를 반환하고, 실제 합치는 작업은 외부 스크립트에서 처리\nreturn {\n  json: {\n    segments: segments,\n    story: $('스토리 파싱').item.json,\n    mergedVideoPath: '/tmp/merged_video.mp4' // 실제 경로는 스크립트에서 설정\n  }\n};"
      },
      "id": "merge-videos",
      "name": "영상 합치기",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "command": "node",
        "arguments": "={{ $env.PROJECT_PATH }}/scripts/merge-videos.js",
        "options": {
          "env": {
            "SEGMENTS": "={{ JSON.stringify($json.segments) }}",
            "OUTPUT_PATH": "={{ $json.mergedVideoPath }}"
          }
        }
      },
      "id": "execute-merge",
      "name": "영상 합치기 실행",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('스토리 파싱').item.json.title }} #Shorts",
        "description": "={{ $('스토리 파싱').item.json.description }}",
        "tags": "={{ $('스토리 파싱').item.json.tags.join(',') }}",
        "categoryId": "24",
        "privacyStatus": "public",
        "videoFilePath": "={{ $json.mergedVideoPath }}"
      },
      "id": "upload-youtube",
      "name": "YouTube 업로드",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "2",
          "name": "YouTube API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 히스토리 업데이트\nconst fs = require('fs');\nconst path = require('path');\n\nconst historyFile = path.join(__dirname, '../data/story-history.json');\nlet history = [];\n\ntry {\n  const data = fs.readFileSync(historyFile, 'utf-8');\n  history = JSON.parse(data);\n} catch (error) {\n  history = [];\n}\n\nconst story = $('스토리 파싱').item.json;\nhistory.push(story);\n\nfs.writeFileSync(historyFile, JSON.stringify(history, null, 2), 'utf-8');\n\nreturn {\n  json: {\n    success: true,\n    episode: story.episode,\n    videoId: $('YouTube 업로드').item.json.id,\n    videoUrl: `https://www.youtube.com/watch?v=${$('YouTube 업로드').item.json.id}`\n  }\n};"
      },
      "id": "save-history",
      "name": "히스토리 저장",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "성공 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "✅ 일일 영상 업로드 완료!\n\n에피소드: {{ $('히스토리 저장').item.json.episode }}\n제목: {{ $('스토리 파싱').item.json.title }}\n영상: {{ $('히스토리 저장').item.json.videoUrl }}",
        "additionalFields": {}
      },
      "id": "send-notification",
      "name": "알림 전송 (선택사항)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [2250, 200],
      "disabled": true,
      "credentials": {
        "telegramApi": {
          "id": "3",
          "name": "Telegram API"
        }
      }
    }
  ],
  "connections": {
    "매일 오전 9시 실행": {
      "main": [
        [
          {
            "node": "스토리 히스토리 로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스토리 히스토리 로드": {
      "main": [
        [
          {
            "node": "Gemini로 스토리 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini로 스토리 생성": {
      "main": [
        [
          {
            "node": "스토리 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스토리 파싱": {
      "main": [
        [
          {
            "node": "영상 세그먼트 1 생성",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 세그먼트 2 생성",
            "type": "main",
            "index": 0
          },
          {
            "node": "영상 세그먼트 3 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 세그먼트 1 생성": {
      "main": [
        [
          {
            "node": "영상 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 세그먼트 2 생성": {
      "main": [
        [
          {
            "node": "영상 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 세그먼트 3 생성": {
      "main": [
        [
          {
            "node": "영상 합치기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 합치기": {
      "main": [
        [
          {
            "node": "영상 합치기 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "영상 합치기 실행": {
      "main": [
        [
          {
            "node": "YouTube 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube 업로드": {
      "main": [
        [
          {
            "node": "히스토리 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "히스토리 저장": {
      "main": [
        [
          {
            "node": "성공 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "성공 확인": {
      "main": [
        [
          {
            "node": "알림 전송 (선택사항)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

